{{> menu id="home"}}

<!-- this is the start of content -->
   <section class="ui container">
     
      <section class="ui center aligned middle aligned segment">
        <h2 class="ui header">
          {{title}}
        </h2>

        <hr class="solid">
        <h3>
            Here are some featured books from the database
        </h3>
        <div class="ui six wide stackable centered cards">

          {{#each bookCoverCollection}}
            {{#each books}}
              <div class="ui card statistic-card listBookCards">
                <div class="image">
                  <img src="{{coverImage}}">
                </div>
                <div class="ui content">
                  <div class="header">{{title}}</div>
                </div>
                <div class="ui extra content">
                <span style="color: #fffdfc">
                  <i class="user icon" ></i>
                  {{author}}
                </span>
              </div>
              </div>
            {{/each}}
          {{/each}}

        </div>
      </section>
   </section>